#image-builder {
  padding: 2em;
  min-height: 500px;
  max-height: 500px;
  max-width: 650px;
  min-width: 650px;

  &.is-capitalised, &.is-capitalised .players {
    text-transform: uppercase;
  }

  .players {
    font-weight: bold;
  }
}
