#image-builder {
  padding: 2em;
  min-height: 500px;
  max-height: 500px;
  max-width: 650px;
  min-width: 650px;

  display: flex;
  flex-direction: row;
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .label {
    font-size: .8em;
  }

  &.is-capitalised {
    text-transform: uppercase;
  }

  .players {
    font-weight: bold;
  }

  .subs {
    font-size: .8em;
    font-weight: 300;
  }
}
