#image-builder {
  min-height: 500px;
  max-height: 500px;
  max-width: 650px;
  min-width: 650px;

  display: flex;
  flex-direction: row;
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  padding: 2em;
  }

  .image {
    overflow: hidden;
  }

  .label {
    font-size: .8em;
    color: inherit;
  }

  &.is-capitalised {
    text-transform: uppercase;
  }

  .players {
    font-weight: bold;
    font-size: 1.25em;
  }

  .player-number {
    margin-right: .25em;
  }

  .subs {
    font-size: .8em;
    font-weight: 700;
  }
}
