@import './../../node_modules/bulma';
@import './imagebuilder.scss';

.tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.columns {
  &.is-reversed {
    flex-direction: row-reverse;
  }
}